.home-page{
  background-color: #eee;
  padding-bottom: 60px;
  .search-header{
    background-color: #ffffff;
    display: flex;
    justify-content:space-around ;
    align-content: center;
    align-items: center;
    height: 32px;
  }
}